.resetpassword-container {
  text-align: center;
  min-height: calc(100vh - 56px);
}
@media screen and (min-width: 768px) {
  .resetpassword-form {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .resetpassword-form {
    width: 50%;
    margin: 0 auto;
  }
}
