.manage-inventory-container {
  min-height: calc(100vh - 56px);
}
.btn-trash {
  color: red !important;
  cursor: pointer;
  transition: color 0.2s linear;
}
.btn-trash:hover {
  color: rgb(250, 125, 125) !important;
}
.btn-add-new-item {
  background-color: green;
  border: 1px solid gray;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s linear;
}
.btn-add-new-item:hover {
  background-color: rgb(58, 216, 58);
}
