@media screen and (min-width: 768px) {
  .section-fruit-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .section-fruit-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
