.signup-container {
  text-align: center;
  min-height: calc(100vh - 56px);
}

.login-toggle {
  margin-top: 1rem;
}

.login-toggle span {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.inventory-btn-signup {
  border: none !important;
  padding: 0.75rem 0 !important;
  border-radius: 20px !important;
  background-color: blueviolet !important;
  color: white;
  width: 75%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .signup-form {
    width: 80%;
    margin: 0 auto;
  }
  .signup-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr auto 0.75fr;
  }
}
