.footer-container {
  background-color: #212529;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.footer-container > p {
  margin: 0;
}
