.inventory-container {
  min-height: calc(100vh - 56px);
  width: 100%;
}
.inventory-image {
  display: block;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0 auto;
}
.inventory-btn {
  border: none;
  padding: 0.75rem 0;
  border-radius: 20px;
  background-color: blueviolet;
  color: white;
  width: 75%;
  margin: 0 auto;
}
.inventory-btn:hover {
  background-color: rgb(166, 91, 236);
}
@media screen and (min-width: 992px) {
  .section-inventory-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    grid-template-areas:
      'a b'
      'c c';
  }
  .article-a {
    grid-area: a;
  }
  .article-b {
    grid-area: b;
  }
  .article-c {
    grid-area: c;
    width: 50%;
    margin: 0 auto;
  }
}
